<div class="homeContent">

    <div id="header">
        <%= image_tag("Camera.png", :size => "150x150") %>
    </div>  
    

 
    <div id="list">
        <ul>
            <li>Login</li>
            <li>Explore</li>
            <li>Explore</li>
        </ul>
    </div>
    
        

</div>



<script>
    
$('#header').hover( 
    function() { $(this).data('bounce', true); bounce($(this));}, 
    function() { $(this).data('bounce', false);
});

function bounce($elem) {
    $elem.effect('bounce', { times: 1, distance: 15 }, 700, function() {
        if ($(this).data('bounce')) bounce($elem);
        else $elem.stop();
    });   
}
   
</script>

