<p id="notice"><%= notice %></p>
    <%= link_to 'New Photo', new_photo_path %>
<h1>Listing Photos</h1>

<div class="row">
    <% @photos.each do |u| %>
    <%= image_tag u.avatar_url, class:"col-xs-6 col-md-3" %>
    <% end %>
</div>
  
