<div id="uploadContainer">

    <h1>Add Your Photos</h1>

    <%= render 'form' %>

    <%= link_to 'Back', photos_path %>

</div>

<div class="footer">
    <ul>
        <li><%= link_to "Logout", logout_path, method: "delete" %></li>        
    </ul>
</div>