<%= link_to 'Back', root_path %>

<div id="image-grid" class="col-lg-10">
	<div class="row">
		<div class="tnail"> 
		<img src="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/CWYK8CLC61.jpg" height="300" width="400">
			</a>
	</div>

	
	<div class="tnail"> 
			<img src="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/IKN96WWVFZ.jpg" height="300" width="400">
		</a>
	</div>


	<div class="tnail"> 
			<img src="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/Y01VDYAX63.jpg" height="300" width="400">
		</a>
	</div>

	
	<div class="tnail"> 
			<img src="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/2XC5WVHUP4.jpg" height="300" width="400">
		</a>
	</div>

	
	<div class="tnail"> 
			<img src="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/PCHSIJ30CX.jpg" height="300" width="400">
		</a>
	</div>

	
	<div class="tnail"> 
			<img src="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/GBRUTLOQUM.jpg" height="300" width="400">
		</a>
	</div>

	
	<div class="tnail"> 
			<img src="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/611DE1WDSJ.jpg" height="300" width="400">
		</a>
	</div>

	
	<div class="tnail"> 
			<img src="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/UR4EV5PE2I.jpg" height="300" width="400">
		</a>
	</div>


	<div class="tnail"> 
			<img src="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/TJ4Z1EVVBK.jpg" height="300" width="400">
		</a>
	</div>
	
	
	
	</div>
</div>

