 <div id="list">
        <ul>
            <% if current_user %>
            <li><%= link_to "Log out", logout_path, method: :delete, :style=>"color: white; font-family: 'Indie Flower', cursive; text-decoration: none; background: none; font-size: 4vh;"%></li>
            <% else %>
            <li><%= link_to "Log in", login_path, {style: "color: white; font-family: 'Indie Flower', cursive; text-decoration: none; background: none; font-size: 4vh; "} %></li>
            <% end %>
            
            <li><%= link_to "Explore", photos_path, {style: "color: white; font-family: 'Indie Flower', cursive; text-decoration: none; background: none; font-size: 4vh;"} %></li>   
            <% if current_user %>

            <li><%= link_to "#{current_user.username}", user_path(current_user.id), {style: "color: white; font-family: 'Indie Flower', cursive; text-decoration: none; background: none; font-size: 4vh;"} %></li>
            <%end%>
        </ul>
    </div>